.some-section {
  margin: 70px 0;

  .number-arrow {
    @include display;
    justify-content: space-between;

    .one {
      @include display;
      @include font(18px, 500);
      color: #000;
      gap: 25px;
      p {
        margin: 0;

        span {
          @include display;
          display: inline-flex;
          width: 36px;
          height: 36px;
          color: #fff;
          background: $background1;
          border-radius: 100%;
          @include font(16px, 800);
          // margin-right: 10px;
        }
      }
      i {
        color: $color4;
        font-size: 14px;
      }
    }
  }
}
