// Background colors
$background1 :rgba(82, 171, 132, 1);



//Colors
$color1:rgba(34, 41, 48, 1);
$color2 :rgba(144, 160, 178, 1);
$color3:rgba(82, 171, 132, 1);
$color4:rgba(179, 177, 183, 1);
$color5:rgba(100, 98, 106, 1);
$color6:rgba(59, 58, 64, 1);
$color7: rgba(232, 231, 232, 1);
$color8: rgba(142, 140, 149, 1);










